$breakpoint-minimum: 320px;
$breakpoint-medium: 1000px;
$breakpoint-medium-plus: 1100px;
$breakpoint-large: 1400px;
$breakpoint-max: 1440px;

$breakpoint-smallest-font: $breakpoint-minimum;
$breakpoint-largest-font: $breakpoint-large;
$breakpoint-article-3-column: $breakpoint-medium-plus;

$move-poster-right: '(min-width: 920px) and (min-aspect-ratio: 4/3)';

$global-breakpoints: (

  uptolarge:
  'screen and (max-width: '$breakpoint-large - 1')',

  fromlarge:
  'screen and (min-width: '$breakpoint-large')',

  frommedium:
  'screen and (min-width: '$breakpoint-medium')',

  frommax:
  'screen and (min-width: '$breakpoint-max')',

  uptoarticle3col:
  'screen and (max-width: '$breakpoint-article-3-column - 1')',
  
  fromarticle3col:
  'screen and (min-width: '$breakpoint-article-3-column')',

);
