$global-objects-namespace    : 'o-';
$global-scoped-namespace     : 's-';
$global-utilities-namespace  : 'u-';
$global-components-namespace : 'c-';
$global-interactions-namespace:'i-';

$global-breakpoint-separator:  \@;
$global-pseudo-separator:      \@;

$global-delimiter:             \/;

$global-rem-class:             'rem';
$global-em-class:              'em';
$global-percentage-class:      'pc';
$global-px-class:              'px';
$global-vw-class:              'vw';
$global-vh-class:              'vh';

$global-grid-columns: 12;
