$font-family-properties: (
  'hope-sans': '"Hope Sans", Europa, "Helvetica Neue", Helvetica, sans-serif',
);

@each $value-alias, $value in $font-family-properties {
  @include make-utility((
    alias: 'family-' + $value-alias,
    class: true,
    font-family: $value
  ));
}

@each $value in (bold) {
  @include make-utility((
    alias: 'weight-' + $value,
    class: true,
    font-weight: $value
  ));
}

@each $value in (nowrap) {
  @include make-utility((
    alias: 'ws-' + $value,
    white-space: $value
  ));
}