@each $value in ('center', 'flex-start') {
  @include make-utility((
    alias: 'ai-' + $value,
    class: true,
    align-items: unquote($value)
  ));
}

@each $value in ('center', 'flex-start') {
  @include make-utility((
    alias: 'as-' + $value,
    class: true,
    align-self: unquote($value)
  ));
}

@each $value in ('center', 'space-between') {
  @include make-utility((
    alias: 'jc-' + $value,
    class: true,
    justify-content: unquote($value)
  ));
}

@each $value in ('center') {
  @include make-utility((
    alias: 'js-' + $value,
    class: true,
    justify-self: unquote($value)
  ));
}

@each $value in ('column', 'column-reverse', 'row-reverse') {
  @include make-utility((
    alias: 'fd-' + $value,
    class: true,
    flex-direction: unquote($value)
  ));
}

@each $value in ('wrap') {
  @include make-utility((
    alias: 'fw-' + $value,
    class: true,
    flex-wrap: unquote($value)
  ));
}
