

@include make-utility((
  alias: 'bgrepeat-no',
  background-repeat: no-repeat
));

@each $value in ('cover', 'contain') {
  @include make-utility((
    alias: 'bgsize-' + $value,
    background-size: $value
  ));
}
