@include make-utility((
  alias: 'mr-auto',
  class: true,
  margin-right: auto
));

@include make-utility((
  alias: 'mh-auto',
  class: true,
  margin-left: auto,
  margin-right: auto
));

@include make-utility((
  alias: 'mv-auto',
  class: true,
  margin-top: auto,
  margin-bottom: auto
));

.u-mt-siblings-s > * + * {
  margin-top: 1rem;  
}

.u-mt-siblings-m > * + * {
  margin-top: 3rem;  
}

.u-mt-children-xl > * {
  margin-top: 7.5rem;  
}