/**
 * .o-type
 * Visually hidden, but provided for screen readers (dictated).
 */

$object: 'type';

#{'.' + $global-objects-namespace + $object} {

  &-h0,
  &-h1,
  &-h2 {
    @extend %u-weight-bold;
  }

  &-h0 {
    @include fontScale(28, 50);
    line-height: (59/50);
  }
 
  &-h1 {
    @include fontScale(22, 34);
  }

  &-h2 {
    @include fontScale(19, 27);
  }

  &-h3 {
    @include fontScale(18, 24);
  }

  &-body {
    @include fontScale(17, 21);
  }

  &-16px {
    font-size: 16px;
  }

  // &-h1 {
  //   @extend %u-family-roboto;
  // }
}
