@function columns($i) {
  @return calc(#{$i} * var(--ColumnUnit));
}

@function gutters($i) {
  @return calc(#{$i} * var(--GutterUnit));
}

@function columnspans($i) {
  @return calc(#{$i} * (var(--ColumnUnit) + var(--GutterUnit)) - var(--GutterUnit));
}

@function gutterspans($i) {
  @return calc(#{$i} * (var(--GutterUnit) + var(--ColumnUnit)) - var(--ColumnUnit));
}