@function ifHasGet($map, $value) {

  @if map-has-key($map, $value) {
    @return map-get($map, $value);
  }

  @else {
    @return '';
  }
}

@function ifNotError($map, $value, $error) {

  @if map-has-key($map, $value) {
    @return map-get($map, $value);
  }

  @else {
    @error $error;
  }
}