@mixin fontScale($smallest, $largest) {
  font-size: #{toPx($smallest)};

  @media (min-width: #{toPx($breakpoint-smallest-font)}) and (max-width: #{toPx($breakpoint-largest-font)}) {
    font-size: calc(#{toPx($smallest)} + (#{stripUnit($largest)} - #{stripUnit($smallest)}) * ((100vw - #{toPx($breakpoint-smallest-font)}) / (#{stripUnit($breakpoint-largest-font)} - #{stripUnit($breakpoint-smallest-font)})));
  }

  @media (min-width: #{toPx($breakpoint-largest-font)}) {
    font-size: #{toPx($largest)};
  }
}
