/**
 * .c-article
 */

$component: 'article';

#{'.' + $global-components-namespace + $component} {
  padding-bottom: 7.5rem;

  > * {
    padding-top: 7.5rem;
    // Why padding? 
    // Because we're #hash-linking to each section, and we want some space at the top of the window
  }
}