/**
 * .c-expo
 */

$component: 'expo';

#{'.' + $global-components-namespace + $component} {
  @extend %u-ov-hidden;
  @extend %u-pos-relative;
  @extend %u-grid;

  a:after {
    @extend %u-pos-absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
  }
  
  
  &__meta {
    font-size: 15px;
    color: $color-mist;
    line-height: 24px;
    // text-transform: lowercase;
  }
  
  &__title {
    // margin-top: baselines(0.5);
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1.65;
  }

  @media #{$move-poster-right} {
    // grid-template-rows: #{baselines(16)} auto;
  }

  grid-gap: baselines(4);

  &__thumbnail {
    @extend %u-pos-relative;
    @extend %u-block;
    height: 0;
    padding-bottom: 74%;
    background-color: $color-charcoal-base-darker;
    // margin-top: baselines(3);

    &-image {
      @extend %u-pos-absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: top left;
    }
  }
}