.c-poster {
  @extend %u-bgcolor-charcoal-base-darker;
  --color-primary: var(--color-mango);
  overflow: hidden;
  display: grid;
  
  width: 100%;
  max-width: calc(100vh - (var(--document-gap) * 2));
  height: calc(100vh - (var(--document-gap) * 2));
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4fr 2fr 1fr;
  grid-column: 4;
  background-color: $color-charcoal-base-darker;


  @media #{$move-poster-right} {
    position: sticky;
    top: var(--document-gap);
  }
  
  &__headings {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 5vmin 5vmin;
    
    > * + * {
      margin-top: 1rem;
    }

    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      grid-column: 1 / 3;
      padding: 5vmin 5vmin 16vmin;
    }
  }
  
  &__headings,
  &__skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__name,
  &__title,
  &__network-icon,
  &__skill {
    z-index: 10;
  }
  
  &__name {
    font-size: 1.5rem;    
    // color: var(--color-primary);
    letter-spacing: -0.002em;

    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      font-size: 2.8vmin;
    }
  }
  
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.012em;
    line-height: (58/50);
    
    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      font-size: 5.8vmin;
    }
  }
  
  &__skills {
    grid-row: 2 / 3;
    grid-column: 1 / -1;    
    padding: 8vmin 5vmin;
    line-height: 1.3;
    
    > * + * {
      margin-top: .7em;
    }

    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      grid-row: 2 / 4;
      grid-column: 1 / 4;
      padding: 5vmin 5vmin;
    }
  }

  &__skill {
    z-index: 10;
  }

  &__networks {
    @extend %u-flex;
    --PosterSize: 30px;
    z-index: 10;
    padding: 5vmin 5vmin;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    align-items: center;
    
    > *:not(:first-of-type) {
      margin-left: calc(var(--PosterSize) * .75);
    }

    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      align-items: flex-end;
    }
  }

  &__network-link {
    @extend %u-block;
    @extend %u-pos-relative;

    &:before {
      @extend .o-abscentre;
      width: 150%;
      height: 150%;
      background-color: rgba($color-white, .1);
      border-radius: 50%;
      content: '';
      clip-path: circle(0% at 100% 50%);
      transition: all .18s;
    }

    &:hover:before,
    &:focus:before {
      clip-path: circle(100% at 100% 50%);
    }
  }

  &__network-icon {
    @extend %u-block;
    width: var(--PosterSize);
    height: auto;
    stroke: $color-mango;
    stroke-width: 2;
    transition: all .2s ease;

    &:not(&--focus) {
    }

    &--focus {
      position: absolute;
      top: 0;
      stroke: $color-white;
      clip-path: circle(0% at 0% 50%);
      transition: all .3s;
    }
  }

  &__network-link:hover &__network-icon:not(&__network-icon--focus),
  &__network-link:focus &__network-icon:not(&__network-icon--focus) {
    stroke: transparent;
  }

  &__network-link:hover &__network-icon--focus,
  &__network-link:focus &__network-icon--focus {
    clip-path: circle(100% at 50%);
  }

  &__network-link:hover &__network-icon:not(&__network-icon--focus),
  &__network-link:focus &__network-icon:not(&__network-icon--focus) {
    // transform: translateY(2px);
  }
  
  &__portrait {
    z-index: 1;
    opacity: .3;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transition: opacity .4s; // for the resizing, homie
    
    // When BOTH Axis are above 480px
    
    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      opacity: 1;
      grid-row: 1 / -1;
      grid-column: 2 / 5;
    }
  }

  &__image {
    width: 100%;
    // min-height: calc(100% + 1px);
    min-height: 100%;
    object-fit: cover;
    object-position: 0% 50%;

    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      object-position: 5% 50%;
    }
  }
  
  &__shade {
    z-index: 2;
    opacity: 0.4;
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    background: $color-charcoal-base-darker;
    mix-blend-mode: multiply;
    
    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      grid-row: 2 / 4;
      background: var(--color-primary);
    }
    
  }
  
  &__slant {
    display: none;
    z-index: 5;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    mix-blend-mode: hard-light;

    svg {
      mix-blend-mode: hard-light;
    }

    @media (min-width: 480px) and (min-height: 480px) and (min-aspect-ratio: 3/4) {
      display: block;
    }
  }
  
  &__svg {
    display: block;
    width: 100%;
    height: auto;
    fill: var(--color-primary);
  }
}