@each $value in (1, 2, 3, 4) {
  @include make-utility((
    alias: 'gc-' + $value,
    class: true,
    grid-column: $value
  ));
}

@each $value in (1, 2, 3, 4) {
  @include make-utility((
    alias: 'gr-' + $value,
    class: true,
    grid-row: $value
  ));
}
