@each $value in (3rem) {
  @include make-utility((
    alias: 'pt-' + $value,
    padding-top: $value,
    class: true,
  ));
}

@each $value in (3rem) {
  @include make-utility((
    alias: 'pv-' + $value,
    padding-top: $value,
    padding-bottom: $value,
    class: true,
  ));
}